.close-btn {
  top: 1.5rem;
  width: 4rem;
  height: 4rem;
  border: none;
  color: #555;
  display: flex;
  right: 1.5rem;
  font-size: 4rem;
  cursor: pointer;
  position: absolute;
  align-items: center;
  transition: color 0.3s;
  justify-content: center;
  background-color: transparent;
}

.close-btn:hover {
  color: black;
}

.cart-items-ul {
  gap: 3rem;
  display: flex;
  overflow: auto;
  max-height: 50rem;
  flex-direction: column;
}
