.common-btn {
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.8rem;
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  background-color: #8b4513;
  transition: background-color 0.3s;
}

.common-btn:hover {
  background-color: #61300d;
}

/* */
