.cart-control {
  gap: 4rem;
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  border-top: 2px solid #61300d;
}

.subtotal {
  text-align: right;
}

.text {
  font-weight: 600;
  margin-right: 2rem;
}

.price {
  width: 8rem;
  color: #8b4513;
  display: inline-block;
}

.cart-btns {
  gap: 5rem;
  display: flex;
  justify-content: center;
}
