.title {
  padding-bottom: 2rem;
  border-bottom: 2px solid #61300d;
}

.form {
  gap: 3rem;
  display: flex;
  margin: 1rem 0;
  flex-direction: column;
}

.form-section {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.form-item {
  display: flex;
  padding: 0 1rem;
  font-size: 1.8rem;
  justify-content: space-between;
}

.invalid label {
  color: red;
}

.invalid input {
  border-color: red;
  border-style: groove;
}

/* some seoncary classes */
.expiration-div {
  padding-right: 8.5rem;
}

.cvc-div {
  padding-right: 18rem;
}

.cvc-input {
  width: 5rem;
  text-align: center;
}
