/* Header Container */
.header {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 10rem;
  display: flex;
  padding: 0 10%;
  position: sticky;
  align-items: center;
  /* background-color: #de8e32; */
  background-color: red;
  justify-content: space-between;
}

/* 1.App Name */
.app-name {
  color: white;
}

/* 2.Cart Button */
.cart-btn__container {
  height: 50%;
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* This removes the hovering label */
ion-icon {
  pointer-events: none;
}

.cart-btn__qty {
  font-size: 2.6rem;
}

/* @media (max-width: 500px) {
  .cart-btn__icon {
    display: none;
  }

  .cart-btn__container {
    max-width: 2rem;
  }
} */
