/* Form Overall Layout */
.order-form {
  gap: 3rem;
  display: flex;
  align-items: center;
}

/* Qty Control */
.qty-control {
  gap: 1rem;
  display: flex;
}

.qty-control button {
  width: 2.4rem;
  cursor: pointer;
}

.qty-control input {
  width: 4rem;
  text-align: center;
}
